* {
  box-sizing: border-box;
}
body {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    sans-serif;
  margin: 0;
}
.header {
  text-align: center;
  background: white;
}

/*Navigation Bar*/
.navbar {
  overflow: hidden;
  float: center;
  list-style-type: none;
  background-color: #f2d349;
  text-align: center;
}
ul {
  list-style-type: none;
  float: center;
}
li {
  display: inline-block;
  border-left: solid 2pt;
}
ul li a {
  text-decoration: none;
  color: black;
  padding: 100px;
  font-size: 18px;
}
ul li a:hover {
  color: white;
}

/*Section 1*/
.container {
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
  font-size: 14pt;
}
h4 {
  color: black;
  font-size: 16pt;
}
.container p {
  text-align: center;
  margin-left: 240px;
  border: dashed #f2d349;
  text-indent: 50px;
  padding: 30px;
  width: 70%;
  line-height: 30px;
}
/*Block*/
.column {
  float: left;
  background-color: white;
  margin-left: 200px;
  width: 30%;
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.block {
  display: block;
  border: solid;
  border-radius: 10px;
  background-color: #8aa899;
  color: whitesmoke;
  padding: 50px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #f2d349;
}

/* Footer */
.footer {
  padding: 5px;
  background-color: #5c6e58;
  color: white;
  text-align: center;
}
