<style>
body {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  margin: 0;
}
.header {
  text-align: center;
  background: white;
}

/* Footer */
.footer {
	padding: 5px;
	background-color: #5C6E58;
	color: white;
	text-align: center;
}
</style>